html {
	scroll-behavior: smooth;
} 
.Titles {
	font-size: 3em;
	font-weight: bold;
	color: white;
	position:relative;
	padding-top: 2em;
	text-align: center;
	;
}
#aboutme {
	background-color: black!important;
	color: white;
}
#aboutme img {
	width: 56%;
	height: 50%;
}
#portimage {
	display: flex;
	justify-content: center;
}
#porttitle {
	line-height: normal;
	padding-bottom: 3%;
	padding-top: 0!important;
}

.MuiDivider-middle {
	background-color: white!important;
	margin: 0 9%!important;
}
#root {
	background-color: black;
}
.MFooter {
	background-color: #2e3131!important;
	color: white;
}
@media only screen and (max-width: 1000px) {
	.MuiGrid-container {
		flex-direction: column;
	}
	.MuiGrid-item {
		width: 80%!important;
	}
} 
@media (min-width: 1000px) {
	.MuiGrid-item {
		flex-grow: 0;
		max-width: 41.666667%;
		flex-basis: 41.666667%;
	}
}