html {
	scroll-behavior: smooth;
} 
.Titles {
	font-size: 3em;
	font-weight: bold;
	color: white;
	position:relative;
	padding-top: 2em;
	text-align: center;
	;
}
#aboutme {
	background-color: black!important;
	color: white;
}
main {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
	padding: 0 5%;
	grid-template-areas: 
	". ."
	"portimage portcontent"
	". .";
}
#portcontent {
	grid-area: portcontent;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#portimage {
	display: flex;
	justify-content: center;
	grid-area: portimage;
}
#portimage img {
	width: 90%;
	padding: 3%;
	object-fit: contain;
}
#porttitle {
	line-height: normal;
	padding-bottom: 3%;
	padding-top: 0!important;
}
#porttext p {
	text-align: justify;
	font-size: 1em;
	margin: 0 3%;
}

@media only screen and (max-width: 1145px) {
	main{
		min-height: 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.1fr 0.3fr;
		grid-template-areas: 
		"portimage"
		"portcontent"
	}
	#portimage img {
		width: 60%;
		padding: 3%;
		object-fit: contain;
	}

}

.MuiDivider-middle {
	background-color: white!important;
	margin: 0 9%!important;
}
#root {
	background-color: black;
}
.MFooter {
	background-color: #2e3131!important;
	color: white;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    #id-name {
        position:absolute;
        width: 100px;
        height: 100px;
        left: 100px;
        bottom: 100px;
    }
}
