#Mcontact {
	align-items: center;
	text-align: center;
	background-color: black!important;
	color: white;
	min-height: 60vh;
	padding-top: 5%
}
#Mcontact h {
	font-size: 3em;
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 20%;
}
#Cemail {
	font-size: 2em;
	color: #C293E1!important;
	margin: 21px 0;
}